
<div class="container">
  <!-- Page title start-->
  <div class="row pt-4">
    <div class="justify-content-center d-flex">
      <!-- Act In Fly icon start-->
      <img class="col-md-3 col-sm-6 col-6" src="../assets/actInFlyIcon.jpeg">
      <!-- Act In Fly icon end-->
    </div>
  </div>
  <!-- Page title end-->

  <!-- Main Container start -->
  <div class="row justify-content-between">

    <!-- Left Pane start -->
    <div class="col-lg-5 col-md-10 col-sm-12 m-md-auto">
      
      <!-- Left pane buttons start -->
      <div class="row justify-content-around mt-3">
        <!-- Arm drone button start-->
        <button class="col-4" mat-raised-button color="warn" (click)="onSubmitArmDrone(1)">Arm</button>
        <!-- Arm drone button end-->

        <!-- disarm drone button start-->
        <button class="col-4" mat-raised-button color="accent" (click)="onSubmitArmDrone(0)">Disarm</button>
        <!-- disarm drone button end-->
      
      </div>
      <!-- Left pane buttons end -->


      <!-- Left Pane Custom Missions accordion menu start -->
      <div class="row justify-content-center mt-3 mb-5">
        <div class="col"> 
                    
          <!-- Accordion start-->
          <!-- Mission Mode Panel start-->
          <cdk-accordion class="example-accordion" style="margin-right:auto; margin-left: auto;">
            <!-- ALL coordinate custom flight modes start-->
            <cdk-accordion-item
              #accordionItem1="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-1'"
              [attr.aria-expanded]="accordionItem1.expanded"
              [attr.aria-controls]="'accordion-body-1'">
              <div class="example-accordion-item-header" (click)="accordionItem1.toggle()">
                Mission Mode (ALL)
                <span class="example-accordion-item-description">
                  Click to {{ accordionItem1.expanded ? 'close' : 'open' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem1.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-1'"
                [attr.aria-labelledby]="'accordion-header-1'">
                <form [formGroup]="missionFormALL"  (ngSubmit)="onSubmitMissionALL()">

                  <mat-form-field appearance="outline">
                    <mat-label>Waypoints</mat-label>
                    <input formControlName="positions" type="text" matInput placeholder="lat1 lng1 lat2 lng2 ... latn lngn">
                    <mat-icon matSuffix>gps_fixed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Altitude</mat-label>
                    <input formControlName="altitude" type="number" matInput placeholder="15">
                    <mat-icon matSuffix>height</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Linear Velocity</mat-label>
                    <input formControlName="linearVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Angular Velocity</mat-label>
                    <input formControlName="angularVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>
                  
                  <button type="submit" [disabled]="!missionFormALL.valid" mat-raised-button color="primary">Start Mission
                    <mat-icon matSuffix>play_arrow</mat-icon>
                  </button>

                </form>
              </div>
            </cdk-accordion-item>
            <!-- Mission Mode Panel stop-->

            <!-- Surveillance Mode Panel start-->
            <cdk-accordion-item
              #accordionItem2="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-2'"
              [attr.aria-expanded]="accordionItem2.expanded"
              [attr.aria-controls]="'accordion-body-2'">
              <div class="example-accordion-item-header" (click)="accordionItem2.toggle()">
                Surveillance Mode (ALL)
                <span class="example-accordion-item-description">
                  Click to {{ accordionItem2.expanded ? 'close' : 'open' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem2.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-2'"
                [attr.aria-labelledby]="'accordion-header-2'">
                
                <form [formGroup]="surveillanceFormALL"  (ngSubmit)="onSubmitSurveillanceALL()">

                  <mat-form-field appearance="outline">
                    <mat-label>Waypoints</mat-label>
                    <input formControlName="positions" type="text" matInput placeholder="lat1 lng1 lat2 lng2 ... latn lngn">
                    <mat-icon matSuffix>gps_fixed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Altitude</mat-label>
                    <input formControlName="altitude" type="number" matInput placeholder="15">
                    <mat-icon matSuffix>height</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Linear Velocity</mat-label>
                    <input formControlName="linearVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Angular Velocity</mat-label>
                    <input formControlName="angularVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Number of tours</mat-label>
                    <input formControlName="numTour" type="number" matInput placeholder="1">
                    <mat-icon matSuffix>repeat</mat-icon>
                  </mat-form-field>
                  
                  <button type="submit" [disabled]="!surveillanceFormALL.valid" mat-raised-button color="primary">Start Surveillance
                    <mat-icon matSuffix>play_arrow</mat-icon>
                  </button>

                </form>

              </div>
            </cdk-accordion-item>
            <!-- Surveillance Mode Panel stop-->

            <!-- Hover Mode Panel start-->
            <cdk-accordion-item
              #accordionItem3="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-3'"
              [attr.aria-expanded]="accordionItem3.expanded"
              [attr.aria-controls]="'accordion-body-3'">
              <div class="example-accordion-item-header" (click)="accordionItem3.toggle()">
                Hover Mode (ALL)
                <span class="example-accordion-item-description">
                  Click to {{ accordionItem3.expanded ? 'close' : 'open' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem3.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-3'"
                [attr.aria-labelledby]="'accordion-header-3'">
                
                <form [formGroup]="hoverFormALL"  (ngSubmit)="onSubmitHoverALL()">


                  <mat-form-field appearance="outline">
                    <mat-label>Waypoints</mat-label>
                    <input formControlName="positions" type="text" matInput placeholder="lat lng">
                    <mat-icon matSuffix>gps_fixed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Altitude</mat-label>
                    <input formControlName="altitude" type="number" matInput placeholder="15">
                    <mat-icon matSuffix>height</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Linear Velocity</mat-label>
                    <input formControlName="linearVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Angular Velocity</mat-label>
                    <input formControlName="angularVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Duration</mat-label>
                    <input formControlName="duration" type="number" matInput placeholder="10">
                    <mat-icon matSuffix>alarm</mat-icon>
                  </mat-form-field>
                  
                  <button type="submit" [disabled]="!hoverFormALL.valid" mat-raised-button color="primary">Start Hover
                    <mat-icon matSuffix>play_arrow</mat-icon>
                  </button>
                
                </form>

              </div>
            </cdk-accordion-item>
            <!-- Hover Mode Panel stop-->
            <!-- ALL coordinate custom flight modes finish-->


            <!-- NED coordinate custom flight modes start-->
            <cdk-accordion-item
              #accordionItem4="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-4'"
              [attr.aria-expanded]="accordionItem1.expanded"
              [attr.aria-controls]="'accordion-body-4'">
              <div class="example-accordion-item-header" (click)="accordionItem4.toggle()">
                Mission Mode (NED)
                <span class="example-accordion-item-description">
                  Click to {{ accordionItem1.expanded ? 'close' : 'open' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem4.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-4'"
                [attr.aria-labelledby]="'accordion-header-4'">
                <form [formGroup]="missionFormNED"  (ngSubmit)="onSubmitMissionNED()">

                  <mat-form-field appearance="outline">
                    <mat-label>Waypoints</mat-label>
                    <input formControlName="positions" type="text" matInput placeholder="x1 y1 z1 x2 y2 z2 ... xn yn zn">
                    <mat-icon matSuffix>gps_fixed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Linear Velocity</mat-label>
                    <input formControlName="linearVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Angular Velocity</mat-label>
                    <input formControlName="angularVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>
                  
                  <button type="submit" [disabled]="!missionFormNED.valid" mat-raised-button color="primary">Start Mission
                    <mat-icon matSuffix>play_arrow</mat-icon>
                  </button>

                </form>
              </div>
            </cdk-accordion-item>
            <!-- Mission Mode Panel stop-->

            <!-- Surveillance Mode Panel start-->
            <cdk-accordion-item
              #accordionItem5="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-5'"
              [attr.aria-expanded]="accordionItem2.expanded"
              [attr.aria-controls]="'accordion-body-5'">
              <div class="example-accordion-item-header" (click)="accordionItem5.toggle()">
                Surveillance Mode (NED)
                <span class="example-accordion-item-description">
                  Click to {{ accordionItem5.expanded ? 'close' : 'open' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem5.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-5'"
                [attr.aria-labelledby]="'accordion-header-5'">
                
                <form [formGroup]="surveillanceFormNED"  (ngSubmit)="onSubmitSurveillanceNED()">

                  <mat-form-field appearance="outline">
                    <mat-label>Waypoints</mat-label>
                    <input formControlName="positions" type="text" matInput placeholder="x1 y1 z1 x2 y2 z2 ... xn yn zn">
                    <mat-icon matSuffix>gps_fixed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Linear Velocity</mat-label>
                    <input formControlName="linearVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Angular Velocity</mat-label>
                    <input formControlName="angularVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Number of tours</mat-label>
                    <input formControlName="numTour" type="number" matInput placeholder="1">
                    <mat-icon matSuffix>repeat</mat-icon>
                  </mat-form-field>
                  
                  <button type="submit" [disabled]="!surveillanceFormNED.valid" mat-raised-button color="primary">Start Surveillance
                    <mat-icon matSuffix>play_arrow</mat-icon>
                  </button>

                </form>

              </div>
            </cdk-accordion-item>
            <!-- Surveillance Mode Panel stop-->

            <!-- Hover Mode Panel start-->
            <cdk-accordion-item
              #accordionItem6="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-6'"
              [attr.aria-expanded]="accordionItem3.expanded"
              [attr.aria-controls]="'accordion-body-6'">
              <div class="example-accordion-item-header" (click)="accordionItem6.toggle()">
                Hover Mode (NED)
                <span class="example-accordion-item-description">
                  Click to {{ accordionItem3.expanded ? 'close' : 'open' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem6.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-6'"
                [attr.aria-labelledby]="'accordion-header-6'">
                
                <form [formGroup]="hoverFormNED"  (ngSubmit)="onSubmitHoverNED()">


                  <mat-form-field appearance="outline">
                    <mat-label>Waypoints</mat-label>
                    <input formControlName="positions" type="text" matInput placeholder="x y z">
                    <mat-icon matSuffix>gps_fixed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Linear Velocity</mat-label>
                    <input formControlName="linearVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Angular Velocity</mat-label>
                    <input formControlName="angularVelocity" type="number" matInput placeholder="1.0">
                    <mat-icon matSuffix>speed</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Duration</mat-label>
                    <input formControlName="duration" type="number" matInput placeholder="10">
                    <mat-icon matSuffix>alarm</mat-icon>
                  </mat-form-field>
                  
                  <button type="submit" [disabled]="!hoverFormNED.valid" mat-raised-button color="primary">Start Hover
                    <mat-icon matSuffix>play_arrow</mat-icon>
                  </button>
                
                </form>

              </div>
            </cdk-accordion-item>
            <!-- Hover Mode Panel stop-->
            <!-- NED coordinate custom flight modes start-->
          </cdk-accordion>
          <!-- Accordion end-->
        </div>
      </div>
      <!-- Left Pane Custom Missions accordion menu end -->
    </div>
    <!-- Left Pane end -->


    <!-- Right Pane start -->
    <div class="col-lg-5 col-md-10 col-sm-12 m-md-auto">

      <!-- Map Pane start -->
      <div class="row mt-3">
        <div class="col w-100">

          <!-- Google Map itself start -->
          <div class="row w-100 m-auto">
            <div class="col">
              <!-- Google Maps start -->
              <div class="w-100" style="height: 50vh;" id="map"></div>
              <!-- Google Maps end -->
            </div>
          </div>
          <!-- Google Map itself end -->

          <!-- Google Map buttons start -->
          <div class="row mt-2">
            <div class="col">

              <div class="row">
                <div class="col justify-content-center d-flex">              
                  <div id="floating-panel">
                    <input id="hide-markers" type="button" value="Hide Markers" (click)="hideMarkers()"/>
                    <input id="show-markers" type="button" value="Show Markers" (click)="showMarkers()"/>
                    <input id="delete-markers" type="button" value="Delete Markers" (click)="deleteMarkers()"/>
                  </div>
                </div>  
              </div>
  
              <div class="row mt-3">
                <div class="col justify-content-center d-flex">
                  <div class="row">

                    <mat-form-field class="col-7" appearance="fill">
                      <mat-label>Choose mission to upload waypoints:</mat-label>
                      <mat-select [(value)]="selectedMissionType">
                        <mat-option value="missionMode" [disabled]="missionDisabled">Mission Mode (ALL)</mat-option>
                        <mat-option value="surveillanceMode" [disabled]="surveillanceDisabled">Surveillance Mode (ALL)</mat-option>
                        <mat-option value="hoverMode" [disabled]="hoverDisabled">Hover Mode (ALL)</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <button class="col-5 h-75" mat-raised-button color="primary" (click)="uploadWaypointsToMission()">Upload Waypoints</button>
                  </div>
                  
                  
                </div>
              </div>
              

            </div>
            
          </div>
          <!-- Google Map buttons end -->

        </div>
      </div>
      <!-- Map Pane end -->

      <!-- Obj Detector Stream start -->
      <div class="row">
        <div class="col">
          <!-- Object detector video stream start -->
          <img class="w-100" style="height: 50vh;" alt="Object Detector Stream is not started!"  src="http://localhost:5000/video_feed"/>
          <!-- Object detector video stream end -->

        </div>
      </div>
      <!-- Obj Detector Stream end -->


    </div>
    <!-- Right Pane end -->
  </div>
  <!-- Main Container end -->


</div>





